<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin panel</title>
</head>
<body>
    <form action="/admin/add-motd">
        <label>
            add new motd<br>
            <input type="text" name="motd"><br>
        </label>
        <input type="submit" value="submit"><br>
    </form>
    <form action="/admin/set-likes">
        <label>
            set likes<br>
            <input type="text" name="likes" value="{{ likes }}"><br>
        </label>
        <input type="submit" value="submit"><br>
    </form>
    <form action="/admin/set-working-on">
        <label>
            set working on<br>
            <input type="text" name="working_on" value="{{ working_on }}"><br>
        </label>
        <input type="submit" value="submit"><br>
    </form>
</body>
</html>